<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestingFramework">
<listeners>
		<listener class-name="com.testingframework.utilities.Reporting" />
	</listeners>

<test name="BankingApp Test">
<parameter name="browser" value="chrome"/>
<classes>
<class name="com.testingframework.testCases.TC_LoginTest_001"/>
 <class name="com.testingframework.testCases.TC_AddCustomerTest_003"/>

 <!--   <class name="com.testingframework.testCases.TC_LoginDDT_002"/>-->
  
</classes>
</test>
</suite>